<aside class="col-3 border border-light bg-secondary p-2 rounded-4">
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_categories_index') }}" class="btn btn-warning">Liste des catégories</a></p>
            <p><a href="{{ path('admin_categories_add') }}" class="btn btn-warning">Ajouter une catégorie</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_products_index') }}" class="btn btn-warning">Liste des produits</a></p>
            <p><a href="{{ path('admin_products_add') }}" class="btn btn-warning">Ajouter un produit</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_users_index') }}" class="btn btn-warning">Liste des utilisateurs</a></p>
        </div>
    </article>
</aside>