{% extends "base.html.twig" %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2 rounded-4">
                <h1 class="text-dark">Liste des catégories</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Parent</th>
                            <th>Ordre</th>
                            <th>Nom promo</th>
                            <th>Valeur</th>
                            <th>Début promo</th>
                            <th>Fin promo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{ categorie.id }}</td>
                                <td>{{ categorie.name }}</td>
                                <td> 
                                    {% if categorie.parent is not null %}
                                        {{ categorie.parent.name }}
                                    {% endif %}
                                </td>
                                <td>{{ categorie.categoryOrder}}</td>
                                
                                {% if categorie.productspromotions is not null %}
                                <td> {{ categorie.productspromotions.name}} </td>
                                <td>-{{ categorie.productspromotions.discount}} % </td>
                                <td> {{ categorie.productspromotions.startDate ? categorie.productspromotions.startDate|date('Y-m-d') : ''}} </td>
                                <td> {{ categorie.productspromotions.endDate ? categorie.productspromotions.endDate|date('Y-m-d') : ''}} </td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                                
                                <td>
                                    <a href=" {{ path('admin_categories_edit', {id: categorie.id})}}} " class="btn btn-success">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}