{% extends 'base.html.twig' %}

{% block title %}ProductsPromotions index
{% endblock %}

{% block body %}

	<main class="container my-5">
		<section class="row">
			<div class="col-6 mx-auto">
				<h1>Liste des promotions</h1>

                <div class="table-responsive rounded-3">
                    <table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Start_date</th>
							<th>End_date</th>
							<th>Discount</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for products_promotion in products_promotions %}
							<tr>
								<td>{{ products_promotion.id }}</td>
								<td>{{ products_promotion.startDate ? products_promotion.startDate|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ products_promotion.endDate ? products_promotion.endDate|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ products_promotion.discount }}</td>
								<td>
									<a href="{{ path('app_products_promotions_edit', {'id': products_promotion.id}) }}" class="btn btn-warning">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
                </div>
				<a href="{{ path('app_products_promotions_new') }}" class="btn btn-success">Ajouter une promotion</a>
			</div>
		</section>
	</main>


{% endblock %}

